@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700");

body {
  font-family: "Open Sans", sans-serif;
}

*:hover {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

section {
  float: left;
  width: 100%;
  background: #fff;
  padding: 30px 0;
}

h1 {
  float: left;
  width: 100%;
  color: #232323;
  margin-bottom: 30px;
  font-size: 14px;
}

h1 span {
  font-family: "Libre Baskerville", serif;
  display: block;
  font-size: 45px;
  text-transform: none;
  margin-bottom: 20px;
  margin-top: 30px;
  font-weight: 700;
}

h1 a {
  color: #131313;
  font-weight: bold;
}

.profile-card-1 {
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  height: 368px;
  border: none;
  text-align: center;
  color: #fff;
}

.profile-card-1 .background {
  width: 100%;
  vertical-align: top;
  opacity: 0.8;
  filter: blur(3px);
  transform: scale(3);
}

.profile-card-1 .card-content {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  padding: 15px 25px;
}

.profile-card-1 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  transform: translate(-50%, 0%);
  border: 2px solid rgba(255, 255, 255, 1);
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
}

.profile-card-1 h2 {
  margin: 0 0 5px;
  font-size: 25px;
  font-weight: 600;
}

.profile-card-1 small {
  display: block;
  font-size: 15px;
  margin-top: 10px;
}

.profile-card-1 i {
  display: inline;
  font-size: 17px;
  color: #fff;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #fff;
  line-height: 30px;
  padding: 8px;
  margin: 0 5px;
}

.profile-card-1 i:hover {
    background-color: #fff;
    color: #777e8b;
    text-decoration: none;
}

.profile-card-1 .icon-block {
    float: left;
    width: 100%;
    margin-top: 15px;
}