@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
  font-family: "Open Sans", sans-serif;
}

.title-text {
  font-size: 35px;
}

*:hover {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

section {
  float: left;
  width: 100%;
  background: #fff;
  padding: 30px 0;
}

h1 {
  float: left;
  width: 100%;
  color: #232323;
  margin-bottom: 30px;
  font-size: 14px;
}

h1 span {
  font-family: "Libre Baskerville", serif;
  display: block;
  font-size: 45px;
  text-transform: none;
  margin-bottom: 20px;
  margin-top: 30px;
  font-weight: 700;
}

h1 a {
  color: #131313;
  font-weight: bold;
}

/*************** Card One Starts ***************/

.profile-card-1 {
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  height: 368px;
  border: none;
  text-align: center;
  color: #fff;
}

.profile-card-1 .background {
  width: 100%;
  vertical-align: top;
  opacity: 0.8;
  filter: blur(3px);
  transform: scale(3);
}

.profile-card-1 .card-content {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  padding: 15px 25px;
}

.profile-card-1 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  transform: translate(-50%, 0%);
  border: 2px solid rgba(255, 255, 255, 1);
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
}

.profile-card-1 h2 {
  margin: 0 0 5px;
  font-size: 25px;
  font-weight: 600;
}

.profile-card-1 small {
  display: block;
  font-size: 15px;
  margin-top: 10px;
}

.profile-card-1 i {
  display: inline;
  font-size: 17px;
  color: #fff;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #fff;
  line-height: 30px;
  padding: 8px;
  margin: 0 5px;
}

.profile-card-1 i:hover {
  background-color: #fff;
  color: #777e8b;
  text-decoration: none;
}

.profile-card-1 .icon-block {
  float: left;
  width: 100%;
  margin-top: 15px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/*************** Card One Ends ***************/

/*************** Card Two Starts ***************/

.profile-card-2 .card-img-block {
  float: left;
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.profile-card-2 {
  height: 368px;
}

.profile-card-2 .card-body {
  position: relative;
}

.profile-card-2 .profile {
  border-radius: 50%;
  position: absolute;
  left: 15%;
  top: -42px;
  transform: translate(-50%, 0%);
  max-width: 80px;
}

.profile-card-2 h5 {
  font-weight: 800;
  color: #2571be;
}

.profile-card-2 .card-text {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

.profile-card-2 i {
  display: inline-block;
  font-size: 17px;
  color: #2571be;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #2571be;
  padding: 5px;
  margin: 0 5px;
}

.profile-card-2 i:hover {
  background-color: #2571be;
  color: #fff;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/*************** Card Two Ends ***************/

/*************** Card Three Starts **************/

.profile-card-3 {
  height: 368px;
  position: relative;
  float: left;
  overflow: hidden;
  text-align: center;
  border: none;
  width: 100%;
}

.profile-card-3 .background-block {
  float: left;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.profile-card-3 .background-block .background {
  width: 100%;
  vertical-align: top;
  filter: blur(1px);
  transform: scale(2);
}

.profile-card-3 .card-content {
  width: 100%;
  padding: 15px 25px;
  color: #232323;
  background: #efefef;
  height: 50%;
  position: relative;
  z-index: 9999;
}

.profile-card-3 .card-content::before {
  content: "";
  background: #efefef;
  width: 120%;
  height: 100%;
  position: absolute;
  left: 10px;
  bottom: 50px;
  transform: rotate(-13deg);
  z-index: -1;
}

.profile-card-3 .user-profile {
  border-radius: 50%;
  z-index: 99999;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 0%);
  min-width: 100px;
  border: 2px solid rgba(255, 255, 255, 1);
}

.profile-card-3 h2 {
  margin: 0 0 5px;
  font-size: 25px;
  font-weight: 600;
}

.profile-card-3 small {
  display: block;
  font-size: 15px;
  margin-top: 10px;
}

.profile-card-3 i {
  display: inline;
  font-size: 17px;
  color: #1565c0;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #1565c0;
  line-height: 30px;
  padding: 8px;
  margin: 0 5px;
}

.profile-card-3 i:hover {
  background-color: #1565c0;
  color: #fff;
  text-decoration: none;
}

.profile-card-3 .icon-block {
  float: left;
  width: 100%;
  margin-top: 15px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
